* {
    box-sizing: border-box;
}

body {
    background-color: #cffafe;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    width: 60%;
    height: 60%;
    padding: 10px;
    overflow: hidden;
}

.left {
    width: 80%;
    height: 100%;
    display: grid;
    background-color: #0284c7;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-justify: auto;
    padding-left: 30px;
}

.right {
    background-color: #38bdf8;
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right > button {
    height: 10%;
    width: 30%;
    margin: 20px;
    border-radius: 10px;
    border: none;
    background-color: #1e3a8a;
    color: #fff;
}

.right > button:active {
    transform: scale(0.94);
}

.modal {
    width: 250px;
    height: 300px;
    position: absolute;
    top:30%;
    border-radius: 10px;
    background-color: #38bdf8;
    color: #fff;
}

.modal > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-gap: 10px;
    margin-right: auto;
}

.modal > h2 {
    text-align: center;
}

.btn {
    position: relative;
    left: 30%;
    bottom: 2%;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-size: 1em;
    font-weight: 400;
}

.btn:active {
    transform: scale(0.94);
}

.modal::backdrop {
    background-color: linear-gradient(black);
}

.hidden {
    display: none;
}